.doneBlock {
    position: fixed;
    top: 50rem;
    right: 50rem;
    background: rgb(255, 229, 181);
    font-size: 20rem;
    padding: 10rem 20rem;
    border-radius: 10rem;
    color: black;
    cursor: pointer;
}