@import './variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: $text-white;
  font-family: $lato;
}

body, html {
  background: $main;
  font-size: calc(100vw / 1920);
  max-width: 100vw;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10rem;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $text-white;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary;    /* цвет плашки */
    border-radius: 0;       /* закругления плашки */
    border: 5rem solid $text-gray;  /* padding вокруг плашки */
  }
}

.container {
  width: 1540rem;
  margin: 0 190rem;
}

.hrefMain {
  font-size: 20rem;
  color: $text-white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: 100rem;
  width: 100rem;
  background: $text-white;
}

@media (max-width: 1000px) {
  body, html {
    font-size: calc(100vw / 320);
  }
  .container {
    width: 280rem;
    margin: 0 20rem;
  }
}